{% extends 'adminlte/base.html' %}

{% block content %}
<h3 class="box" style="background-color: lightskyblue; ">Online Shopping System in Django</h3><br>
<li>Html, Css, JavaScript, Bootstrap, Python Django.<br>

Features:<br>

<li>User Authentication (register and login) <br>
<li>Session of each user is saved using cookies.<br>
<li>All Products with their view, key features and reviews by other users.<br>
<li>Users are able to search for any product.<br>
<li>Cart Functionality.<br>
<li>Proper Order Summary Before Placing Order.<br>
<li>Change Password Facility.<br>
<li>Contact Us.
</h5>
{% endblock %}
